#Up {
    background-color: rgb(48, 48, 48);
    position: absolute;
    right: 0px;
    top: 0px;
    .lupa {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1025px;
    }
    .pesquisa {
        width: 300px;
        height: 40px;
        position: absolute;
        right: 1000px;
    }
    .dbsbroly {
        position: absolute;
        right: 90px;
        width: 800px;
        height: 400px;
    }
}
