#Up {
    background-color: rgb(37, 37, 37);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90%;
    height: 70%;
    .lupa {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 13px;
    left: 280px;
    }
    .lupa2 {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: rgb(128, 128, 128);
    }
    .pesquisa {
        width: 290px;
        height: 40px;
        position: absolute;
        left: 50px;
        top: 10px;
        font-size: 155%;
        font-family: fantasy;
        -webkit-text-fill-color: rgb(0, 0, 0);
        text-align: center;
        background-color: grey;
        letter-spacing: 2q;
    }
    .thebatman {
        height: 80%;
        width: 65%;
        position: absolute;
        right: 300px;
        top: 72px;
    }
    .texto {
        position: absolute;
        top: 0px;
        right: 650px;
        height: 10;
    }
    

}

